body {
    background-color: #FFF8DC !important;
}

nav a:hover {
    text-decoration: none;
    font-weight: bold;
}

a.active {
    color: orange;
    text-decoration: none;
}

a:focus {
    color: orange !important;
    text-decoration: none !important;
}


nav a {
    text-decoration: none;
}
nav {
    padding-top: 20px;
}

table.tableClass {
    padding: 2px;
}

table.tableClass tr th {
    padding: 2px 5px;
}

table.tableClass tr td {
    padding: 2px 5px;
}